<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" href="/static/plugins/dynamic-tree/assets/layui/css/layui.css">
    <link rel="stylesheet" href="/static/plugins/dynamic-tree/assets/common.css"/>
    <script src="/static/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="layui-container layui-text">
    <br>
    <h1>
        调试系统
    </h1>
    <br>

    &emsp;
    ${layoutContent}

</div>
<script src="/static/plugins/dynamic-tree/assets/layui/layui.js"></script>
</body>
</html>