<% layout('/layouts/index.html', {title: '监控方法列表', libs: []}){ %>
<!-- ============================================================== -->

<div class="layui-btn-group layui-col-lg6">
    <a class="layui-btn layui-btn-normal" id="btn-switchMonitorOn">开启拦截</a>
    <a class="layui-btn layui-btn-normal" id="btn-switchMonitorOff">关闭拦截</a>
    <a class="layui-btn layui-btn-normal" id="btn-clearMonitor">清空数据</a>
</div>
<!--<div class="site-demo-button layui-col-lg6" id="layerDemo" style="margin-bottom: 0;">
    <button data-method="notice" class="layui-btn" id="noDataNotice">没出现数据？</button>
</div>-->
&nbsp;
<div class="layui-btn-group">
    <!--<button class="layui-btn" id="btn-refresh">刷新表格</button>-->
    <button data-method="notice" class="layui-btn" id="noDataNotice">没出现数据？</button>
</div>
<table id="table1" class="layui-table" lay-filter="table1"></table>

<% } %>

<!-- 操作列 -->
<script type="text/html" id="oper-col">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="checkParam">入参</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="checkInfo">详细</a>
</script>

<script>

    /*$(window).bind("beforeunload", function() {
        //响应事件
        switchMonitor(false);
        clearMonitor();
    });*/

    var layer;

    layui.config({
        base: '/static/plugins/dynamic-tree/module/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['layer', 'table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        layer = layui.layer;
        var treetable = layui.treetable;

        // 渲染表格
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                treeColIndex: 1,
                treeSpid: -1,
                treeIdName: 'id',
                treePidName: 'pid',
                treeDefaultClose: true,
                treeLinkage: false,
                elem: '#table1',
                url: '/agent/getAgentList?username=${username}',
                page: false,
                cols: [[
                    {type: 'numbers'},
                    /*{field: 'pid', title: 'pid'},*/
                    /*{field: 'id', title: 'id'},*/
                    {field: 'enterName', title: '进入时间', width: '15%'},
                    {field: 'methodName', title: '方法名', width: '20%'},
                    {field: 'typeName', title: '类名', width: '50%'},
                    {templet: '#oper-col', title: 'oper', width: '15%'}
                ]],
                done: function () {
                    layer.closeAll('loading');
                }
            });
        };

        renderTable();

        /*$('#btn-refresh').click(function () {
            renderTable();
        });*/

        $('#btn-switchMonitorOn').click(function () {
            switchMonitor(true);
        });

        $('#btn-switchMonitorOff').click(function () {
            switchMonitor(false);
            //renderTable();
        });

        $('#btn-clearMonitor').click(function () {
            clearMonitor();
            renderTable();
        });

        $('#noDataNotice').click(function () {
            //示范一个公告层
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: ['知道了']
                ,btnAlign: 'c'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">1、机器的匹配正则<br>要覆盖方法<br><br>2、只有主方法才会拦截，但是主线程下的子线程无法拦截，因此需要设置子方法强制关联<br><br>3、如果都设置好还是不出数据，有可能客户端断开了当前链接，可以尝试刷新当前页面重新链接<br><br>我们此后的征途是星辰大海 ^_^</div>'
            });
        });



        //监听工具条
        table.on('tool(table1)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'checkParam') {
                //layer.msg('入参' + JSON.stringify(data.args));
                console.log(data.args);
            } else if (layEvent === 'checkInfo') {
                //layer.msg('跳转' + data.id);
                window.open("/agent/listAgentDetail?username=${username}&rootId=" + data.rootId);
            }
        });

        //定义一个自动刷新表格
        var ws;
        var username = '${username}';
        if (ws == null || ws == undefined) {
            //ws = new WebSocket("ws://preagent.jddj.com/socket/agentClient/" + username);
            ws = new WebSocket("ws://${agentHost}/socket/agentClient/" + username);

            ws.onopen = function (evt) {  //绑定连接事件
                console.log("Connection open ..." + username);
                //js.alertSuccess("当前连接建立成功! ==>>>" + username)
                //ws.send("发送的数据");
                switchMonitor(true);
            };
            ws.onclose = function (evt) { //绑定关闭或断开连接事件
                console.log("Connection closed." + username);
                switchMonitor(false);
                //js.alertSuccess("当前连接以成功关闭!! ==>>>" + username);
                ws = null;
            };
            ws.onmessage = function (evt) {//绑定收到消息事件
                //console.log("Received Message: " + evt.data);
                renderTable();
            };
        }
    });

    function switchMonitor(b) {
        $.ajax({
            url: "/switch/switchMonitor?username=${username}&status=" + b,	//请求url
            type: "GET",	//请求类型  post|get
            dataType: "text",  //返回数据的 类型 text|json|html--
            success: function (data) {	//回调函数 和 后台返回的 数据
                layer.msg(data);
            },
            error: function (data) {
                layer.msg(data);
            }
        });
    }

    function clearMonitor() {
        $.ajax({
            url: "/switch/clearMonitor?username=${username}",	//请求url
            type: "GET",	//请求类型  post|get
            dataType: "text",  //返回数据的 类型 text|json|html--
            success: function (data) {	//回调函数 和 后台返回的 数据
                layer.msg(data);
            },
            error: function (data) {
                layer.msg(data);
            }
        });
    }
</script>
